<h3 style="color:blue">{{asd}}</h3>

<h3>selector de colores</h3>
<button (click)="logColorSeleccionado()">mostrar log</button>
<input type="text" [(ngModel)]="colorSeleccionado"/>
<pre [style.border]="colorSeleccionado == 'red' ? '5px solid yellow': '1px solid green'" [ngClass]="{fondoAzul:colorSeleccionado=='blue', fondoVerde:colorSeleccionado=='green'}">
	<strong>color elegido:</strong>
	{{colorSeleccionado}}
</pre>
<div [ngStyle]="{'background':colorSeleccionado, 'width':'200px', 'height':'200px', 'float':'right', 'margin-right':'69%'}"></div>
<div style="clear:both;"></div>

<hr>
<h3>Colores switch</h3>
<hr>
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">Es de color rojo</li>
</ul>
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">Es de color verde</li>
</ul>
<ul [ngSwitch]="color">
	<li *ngSwitchDefault [ngStyle]="{'background':color, 'color':'purple', 'padding':'20px'}">Es de NN</li>
</ul>
<hr>
<strong>empleado estrella:</strong>

<div *ngIf="trabajador_externo==true">
<button (click)="cambiarExterno(false)">mostrar empleado</button>
<ul>
	<li>{{trabajadores[0].nombre}}</li>
	<li>{{trabajadores[0].edad}}</li>
	<li>{{trabajadores[0].cargo}}</li>
	<li *ngIf="trabajadores[0].contratado==true">Está contratado</li>
	<li *ngIf="trabajadores[0].contratado==false">No está contratado</li>
</ul>
</div>
<hr>
<div *ngIf="trabajador_externo==false">
<button (click)="cambiarExterno(true)">mostrar trabajador</button>
<ul>
	<li>{{empleado.nombre}}</li>
	<li>{{empleado.edad}}</li>
	<li>{{empleado.cargo}}</li>
	<li *ngIf="empleado.contratado==true">Está contratado</li>
	<li *ngIf="empleado.contratado==false">No está contratado</li>
</ul>
</div>
<hr>
<h3>Listado de empleados</h3>
<ul>
	<li *ngFor="let empleado of trabajadores; let i=index">
		Empleado {{i+1}}:
		<ul>
		<li>{{empleado.nombre}}</li>
		<li>{{empleado.edad}}</li>
		<li>{{empleado.cargo}}</li>
		<li *ngIf="empleado.contratado==true">Está contratado</li>
		<li *ngIf="empleado.contratado==false">No está contratado</li>		
		</ul>
	</li>
</ul>

<hr>
