<h4>Propiedades input en Angular</h4>
<componente-hijo [propiedad_uno]="dato_externo" [propiedad_dos]="identity.web" (desde_el_hijo)="recibirDatos($event)"></componente-hijo>
<hr/>
<div *ngIf="datos_del_hijo">
    <h1>{{datos_del_hijo.nombre}}</h1>
    <h1>{{datos_del_hijo.web}}</h1>
    <h1>{{datos_del_hijo.twitter}}</h1>
</div>



<h4>{{titulo}}</h4>
<button (click)="cambiar()">Cambiar</button>
<div *ngIf="administrador; then admin else noAdmin"></div>
<ng-template #admin>
    <strong style="background:red">Eres el administrador de la webapp</strong>
</ng-template>
<ng-template #noAdmin>
    <strong style="background:red">No eres el administrador de la webapp</strong>
</ng-template>
